@tailwind base;
@tailwind components;
@tailwind utilities;

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}
input
{
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 3px;
}
input:focus
{
  outline: none;
}
.A-1 , .A-2 , .A-3 , .A-4
{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #f1c40f;
  margin: 2px;
}
body
{
  background-color: #ecf0f1;
}
.Icon
{
  color: gray;
}
@media (max-width:370px)
{
  .Icon
  {
    font-size: 20px;
  }
}
.Friend::-webkit-scrollbar , .Request::-webkit-scrollbar
{
  width: 5px;
}
.Friend::-webkit-scrollbar-thumb, .Request::-webkit-scrollbar-thumb
{
  background: white;
}
.Scroll::-webkit-scrollbar
{
  display: none;
}
.Avatar
{
  height: 200px;
  width: 200px;
}